/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 19px;
  padding-bottom: 215px;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 18px;
    padding-bottom: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 81px;
    padding-right: 215px;
    padding-left: 215px;
  }
}
.header .box {
  display: flex;
  align-items: center;
  gap: 129px;
}
.header__logo {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 400;
  background: linear-gradient(180deg, #000 0%, #666 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.header__item:last-child {
  gap: 0;
}
.header__link {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  background: linear-gradient(180deg, #000 0%, #666 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover {
  background: linear-gradient(180deg, #61F84D 0%, #39922D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .active {
  background: linear-gradient(180deg, #61F84D 0%, #39922D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__button {
  color: #FFF;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  border-radius: 36px;
  border: none;
  background: #3A3A3A;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 61px;
  padding-left: 61px;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */